 @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto&display=swap");

//Font Variables
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

//text size/
$textXl: 3.813em;
$textLg: 2.438em;
$textMd: 1.563em;
$textSm: 1em;
$textXs: 0.813em;

//text weight/
$textBold: 700;
$textRegular: 400;
$textLight: 200;
